html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #ffe;
    height: 100%;
}
.footer{
    clear: both;
    position: relative;
}

.corpo{
    min-height: 100vh;
}

#root {
    height: 100%;
}

.annuncio-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.annuncio-img {
    width: 270px;
    height: 250px;
}

.annuncio-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Non compatibile con IE */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    right: 0;
    left: 0;
    bottom: 30px;
}

.border-danger {
    border-width: 2px !important;
}

.carousel-img {
    max-height: 420px;
}

.bg-footer {
    background-color: #FFA207;
}

.form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
}

.form-group {
    margin-bottom: 0.4rem;
}

.img-cover {
    object-fit: cover;
}

.maxh-200px {
    max-height: 200px;
}

.maxh-240px {
    max-height: 240px;
}

.maxw-xl {
    max-width: 1140px;
}

.minw-15em {
    min-width: 15em;
}

.minw-200px {
    min-width: 200px;
}

.no-radius {
    border-radius: 0;
}

.outline-error {
    outline: 2px solid #dc3545;
}

.page-item {
    width: 43px;
    text-align: center;
}

.text-90 {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

#turismo{
    text-align: center;
}

.w-20px {
    width: 20px;
}

.w-105px {
    width: 105px;
}

.w-200px {
    width: 200px
}

@media screen and (max-width: 991px) {
    .icon-sm {
        font-size: 5rem !important;
    }
}

@media screen and (min-width: 768px) {
    .annuncio-box-descrizione {
        min-height: 90px;
    }

    .annuncio-box-servizi {
        min-height: 101px;
    }
}