body {
    background-color: #ffe;
}

.annuncio-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.annuncio-img {
    width: 270px;
    height: 250px;
}

.annuncio-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Non compatibile con IE */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.border-danger {
    border-width: 2px !important;
}

@media screen and (min-width: 768px) {
    .annuncio-box-servizi {
        min-height: 101px;
    }
}

.form-group {
    margin-bottom: 0.4rem;
}

.img-cover {
    object-fit: cover;
}

.maxw-xl {
    max-width: 1140px;
}

.minw-15em {
    min-width: 15em;
}

.page-item {
    width: 43px;
    text-align: center;
}

.text-90 {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

#turismo{
    text-align: center;
}

.w-20px {
    width: 20px;
}

.w-200px {
    width: 200px
}